body {
  font-family: sans-serif;
  background-image: url("honey.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.all-items {
  padding-top: 3em;
}

.logout-button {
  float: right;
  margin-right: auto;
}

a:visited {
  color: black;
}

img {
  height: 200px;
  width: 150px;
}
